.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

/* Masthead (docs home) */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}


/* Specific jumbotrons
------------------------- */
/* supporting docs pages */
.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}
.subhead h1 {
  font-size: 54px;
}

/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}

/* iOS-y on-off switch */
.switchonoff input[type="radio"] + label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    border-style: solid;
    border-color: #88909d;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: 25px;
    cursor: pointer;
}

.switchonoff label:first-of-type {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-width: 1px 0 1px 1px;
}

.switchonoff label:last-of-type {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-width: 1px 1px 1px 0;
    margin-left: -4px;
}

.switchonoff input[type="radio"]:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: #acf;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.6); /* #375fa5 */
    -webkit-box-shadow: inset 0 1px 0 #fafafa, inset 1px 0 0 #eee, inset -1px 0 0 #eee;
    -moz-box-shadow: inset 0 1px 0 #fafafa, inset 1px 0 0 #eee, inset -1px 0 0 #eee;
    box-shadow: inset 0 1px 0 #fafafa, inset 1px 0 0 #eee, inset -1px 0 0 #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D7D7D7), color-stop(1, #fdfdfd));
    background-image: -webkit-linear-gradient(top, #D7D7D7 0%, #fdfdfd 100%);
    background-image: -moz-linear-gradient(top, #D7D7D7 0%, #fdfdfd 100%);
    background-image: -o-linear-gradient(top, #D7D7D7 0%, #fdfdfd 100%);
    background-image: -ms-linear-gradient(top, #D7D7D7 0%, #fdfdfd 100%);
    background-image: linear-gradient(top, #D7D7D7 0%, #fdfdfd 100%);
}

.switchonoff input[type="radio"]:checked + label:first-of-type:after {
    border-width: 0 1px 0 0;
}

.switchonoff input[type="radio"]:checked + label:last-of-type:after {
    border-width: 0 0 0 1px;
    left: -1px; /* force an overlap to prevent bkgd color of hidden label clashing with that of active label */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; /* because of left: -1px */
}

.switchonoff input[type="radio"] {
    display: none;
}

.switchonoff .off + label {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0569c2), color-stop(1, #65affe));
    background-image: -webkit-linear-gradient(top, #0569c2 0%, #65affe 100%);
    background-image: -moz-linear-gradient(top, #0569c2 0%, #65affe 100%);
    background-image: -o-linear-gradient(top, #0569c2 0%, #65affe 100%);
    background-image: -ms-linear-gradient(top, #0569c2 0%, #65affe 100%);
    background-image: linear-gradient(top, #0569c2 0%, #65affe 100%);
    color: #fff;
}

.switchonoff .on + label {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7e7e7e), color-stop(1, #b0b0b0));
    background-image: -webkit-linear-gradient(top, #7e7e7e 0%, #b0b0b0 100%);
    background-image: -moz-linear-gradient(top, #7e7e7e 0%, #b0b0b0 100%);
    background-image: -o-linear-gradient(top, #7e7e7e 0%, #b0b0b0 100%);
    background-image: -ms-linear-gradient(top, #7e7e7e 0%, #b0b0b0 100%);
    background-image: linear-gradient(top, #7e7e7e 0%, #b0b0b0 100%);
    color: #fff;
    text-shadow: 0 -1px 0 #555;
}

@media only screen and (max-device-width: 480px),
       only screen and (-webkit-min-device-pixel-ratio: 2) {
    .switchonoff input[type="radio"]:checked + label:after {
        border-color: transparent;
    }

    .switchonoff input[type="radio"] + label {
        font-weight: 600;
    }
}